.*.sw[op]
*.a
*.o
*~
pigdo
html/
latex/
.deps/
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
libigdo/.dirstamp
